:root {
  --primary-color: #212121;
  --secondary-color: #757575;
  --akcent-color: #2196f3;
  --primary-background-color: #e5e5e5;
}

/* bolt (700) normal (400) 500 900 roboto
Raleway bolt (700) */
/* Общие настройки */

body {
  color: var(--primary-color);
  background-color: var(--primary-background-color);
  font-family: roboto, sans-serif;
  letter-spacing: 0.03em;
}

a {
  text-decoration: none;
}

ul {
  margin-top: 0;
  margin-bottom: 0;

  list-style-type: none;
}

h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}
/* Шапка */

.header {
  background-color: #ffffff;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1230px;
  padding-left: 15px;
  padding-right: 15px;
}

/* Логотип */

.logo {
  color: var(--primary-color);

  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-transform: capitalize;
}

.logo span {
  color: var(--akcent-color);
}

/* Навигация*/

.nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--primary-color);
}

.nav .link:focus,
.nav .link:hover {
  color: var(--akcent-color);
}
.nav .link-current {
  color: var(--akcent-color);
}

.nav {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.nav .style + .style {
  margin-left: 50px;
}

.link-contact {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--secondary-color);
}

ul.nav {
  padding-left: 0;
  margin-left: 86px;
  display: flex;
}

div.contact {
  margin-left: auto;
}

div.style-header {
  display: flex;
  align-items: center;
}

.nav .link-contact:hover,
.nav .link-contact:focus {
  color: var(--akcent-color);
}

/* Герой */

.hero {
  text-align: center;
}

h1 {
  margin-top: 0px;
  margin-bottom: 46px;

  color: #ffffff;
  background-color: var(--akcent-color);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

section.hero {
  margin-bottom: 0px;
}
/* Кнопка заказ услуги */

.button {
  color: #ffffff;
  background-color: #2196f3;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.15;
  letter-spacing: 0.06em;
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 200px;
}

/* Особенности */

section.features {
  padding-top: 94px;
  padding-bottom: 94px;
}

.features ul {
  display: flex;
  padding-left: 0;
  min-width: 278px;
}

.features li + li {
  margin-left: 29px;
}

.features h2 {
  font-size: 0;
  margin-top: 0;
}

.features h3 {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 10;
}

.features p {
  font-size: 14px;
  line-height: 1.71;
  color: var(--secondary-color);
  margin-top: 0;
}

.features img {
  margin-bottom: 30px;
}

/* Род занятий */

section.occupation {
  padding-bottom: 94px;
}

.occupation h2 {
  margin-top: 0;
  margin-bottom: 50px;
}

.occupation ul {
  display: flex;
  padding: 0;
}

.occupation li + li {
  margin-left: 30px;
}

.occupation h3 {
  color: #ffffff;
  background-color: rgba(47, 48, 58, 0.8);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
}

/* Команда */

.team h2 {
  margin-top: 0;
  margin-bottom: 50px;
}

.card h3 {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  margin-top: 0;
  margin-bottom: 10px;
  text-align: center;
}

.card p {
  font-size: 16px;
  line-height: 1.19;
  color: var(--secondary-color);
  margin-top: 0;
  margin-bottom: 16x;
  text-align: center;
}

.card img {
  margin-bottom: 30px;
}

.social img {
  margin-bottom: 0;
}

section.team {
  background-color: #f5f4fa;
  padding-top: 94px;
  padding-bottom: 94px;
}

.team ul.card {
  display: flex;
  padding-left: 0;
  padding-bottom: 36px;
}

.card > li {
  background-color: #ffffff;
  padding-bottom: 36px;
}

.card li + li {
  margin-left: 30px;
}

.card ul.social {
  display: flex;
  padding: 0;
  justify-content: space-evenly;
}

.social li + li {
  margin-left: 10px;
}

/* Клиенты */

section.customer {
  padding-top: 94px;
  padding-bottom: 94px;
}

.customer h2 {
  margin-top: 0;
  margin-bottom: 50;
}

.customer ul {
  display: flex;
  padding: 0;
}

.customer li + li {
  margin-left: 30px;
}

/* Подвал */

footer.footer {
  color: #ffffff;
  background-color: #2f303a;
  padding-top: 48px;
  padding-bottom: 21px;
}
.footer-logo {
  color: #ffffff;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 1.18;
  text-transform: capitalize;
  display: block;
  margin-bottom: 10px;
}

.footer-logo span {
  color: var(--akcent-color);
}

.address {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
}

address ul {
  padding-left: 0;
}

address li {
  padding-bottom: 9px;
}

address li:last-child {
  padding-bottom: 28px;
}

.mail {
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
}

.tel {
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
}

.footer b {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  display: flex;
  margin-bottom: 21px;
}

.footer p {
  font-size: 12px;
  line-height: 2;
  text-align: center;
  color: rgba(255, 255, 255, 0.4);
  display: block;
  margin: 0;
  padding-top: 18px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.footer-style {
  display: flex;
  justify-content: space-between;
}

.footer .social {
  padding-left: 0;
  display: flex;
}

.footer .button {
  color: #ffffff;
  background-color: var(--akcent-color);
  font-weight: 900;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  border: 4px solid var(--akcent-color);
  border-radius: 4px;
  padding: 6px 4px;
  min-width: 200px;
  margin-left: 12px;
}

.footer input {
  background-color: #2f303a;
  color: #ffffff;
  width: 270px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

/* Портфолио */

.portfolio h1 {
  font-size: 0px;
  margin: 0;
}

.portfolio h2 {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-color);
  text-align: left;
  margin-top: 20px;
  margin-bottom: 0;
  margin-left: 24px;
}
.portfolio p {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
  margin-top: 4px;
  margin-bottom: 0;
  margin-left: 24px;
}

.portfolio .text {
  font-size: 0px;
  margin: 0;
}

.portfolio .button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  color: var(--primary-color);
  background-color: #f5f4fa;
}

.portfolio .button:hover,
.portfolio .button:focus {
  color: #ffffff;
  background-color: #2196f3;
}

section.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--primary-background-color);
}

ul.choice {
  display: flex;
  justify-content: center;
  padding-left: 0;
  margin-bottom: 50px;
}

.choice li + li {
  margin-left: 8px;
}

.choice-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  background: #f5f4fa;
  border-radius: 4px;
  padding: 6px 22px;
}

.choice-button:hover,
.choice-button:focus {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  background: var(--akcent-color);
  color: #ffffff;
  border-radius: 4px;
  padding: 6px 22px;
}

ul.choice-card {
  display: flex;
  padding-left: 0;
  flex-wrap: wrap;
}

.choice-card li {
  margin-right: 30px;
  margin-bottom: 30px;
  background: #ffffff;
  border-radius: 5px;
  padding-bottom: 20px;
}

.choice-card li:nth-child(3n) {
  margin-right: 0;
}

.choice-card li:nth-last-child(-n + 3) {
  margin-bottom: 0;
}
